# Gradle related files
.gradle/
.idea/
build/
*.env
.classpath
.settings/
.project
/bin/

#this is too big size to commit
mergedMovieData.csv

#ignore the elasticsearch-data folder
elasticsearch-data/
